.promo
    background-color: $bg_grey
    min-height: 520px
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        min-height: 520px
        width: 100%
        background: url('../img/logo/logo_face.png') center center/450px 450px no-repeat